#bg-game {
	position: relative;
	background-image: url(images/web.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width:1000px;
	height:550px;
	cursor: url(images/spider-cursor.png), auto;
	border: 15px solid #687c9a;
}

img#fly {
	position: absolute;
	/*top: 275px-28px;
	left: 500px-37px;*/
}